* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v64_48 {
  width: 100%;
  height: 1024px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v84_910 {
  width: 845px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 155px;
  left: 308px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 80px;
  opacity: 1;
  text-align: center;
}
.v84_911 {
  width: 100%;
  height: 100%;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
