* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v78_15380 {
  width: 100%;
  height: 1024px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v80_15402 {
  width: 132px;
  height: 315px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 51px;
  left: 1206px;
  overflow: hidden;
}
.v78_15381 {
  width: 100%;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 40px;
  left: 164px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 80px;
  opacity: 1;
  text-align: center;
}
.v78_15382 {
  width: 100%;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 370px;
  left: 168px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 80px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.v80_15399 {
  width: 150px;
  height: 321px;
  background: url("../images/v80_15399.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 44px;
  left: 1198px;
  overflow: hidden;
}
.v80_15393 {
  width: 128px;
  height: 306px;
  background: url("../images/v80_15393.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 60px;
  left: 1085px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v80_15404 {
  width: 20px;
  height: 7px;
  background: url("../images/v80_15404.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 440px;
  left: 880px;
  overflow: hidden;
}
