* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v64_204 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v78_15245 {
  width: 205px;
  height: 448px;
  background: url("../images/v78_15245.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 308px;
  left: 189px;
  overflow: hidden;
}
.v78_15239 {
  width: 205px;
  height: 405px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v78_15244 {
  width: 205px;
  height: 237px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 210px;
  left: 0px;
  overflow: hidden;
}
.v78_15249 {
  width: 170px;
  height: 448px;
  background: url("../images/v78_15249.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 326px;
  left: 1138px;
  overflow: hidden;
}
.v78_15250 {
  width: 170px;
  height: 405px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v78_15251 {
  width: 170px;
  height: 237px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 210px;
  left: 0px;
  overflow: hidden;
}
.v78_15246 {
  width: 252px;
  height: 435px;
  background: url("../images/v78_15246.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 280px;
  left: 594px;
  overflow: hidden;
}
.v78_15247 {
  width: 252px;
  height: 394px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v78_15248 {
  width: 252px;
  height: 231px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 204px;
  left: 0px;
  overflow: hidden;
}
.v78_15262 {
  width: 100%;
  height: 331px;
  background: url("../images/v78_15262.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 693px;
  left: 0px;
  overflow: hidden;
}
.v78_15263 {
  width: 100%;
  height: 299px;
  background: rgba(221,221,221,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v78_15264 {
  width: 100%;
  height: 175px;
  background: rgba(221,221,221,1);
  opacity: 1;
  position: absolute;
  top: 155px;
  left: 0px;
  overflow: hidden;
}
.v78_15284 {
  width: 724px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 26px;
  left: 358px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
