* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_3 {
  width: 100%;
  height: 1024px;
  background: rgba(128,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v41_82 {
  width: 100%;
  height: 828px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 196px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v27_47 {
  width: 100%;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 41px;
  left: 42px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 80px;
  opacity: 1;
  text-align: center;
}
.v27_54 {
  width: 327px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 129px;
  left: 568px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v27_60 {
  width: 157px;
  height: 117px;
  background: url("../images/v27_60.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 48px;
  left: 1090px;
  overflow: hidden;
}
.v27_61 {
  width: 329px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 142px;
  left: 1004px;
  font-family: M PLUS Code Latin;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v38_67 {
  width: 157px;
  height: 117px;
  background: url("../images/v38_67.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 272px;
  left: 69px;
  overflow: hidden;
}
.v38_68 {
  width: 329px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 366px;
  left: 17px;
  font-family: M PLUS Code Latin;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v38_71 {
  width: 157px;
  height: 117px;
  background: url("../images/v38_71.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 407px;
  left: 69px;
  overflow: hidden;
}
.v38_72 {
  width: 329px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 501px;
  left: 17px;
  font-family: M PLUS Code Latin;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v38_73 {
  width: 157px;
  height: 117px;
  background: url("../images/v38_73.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 546px;
  left: 69px;
  overflow: hidden;
}
.v38_74 {
  width: 329px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 640px;
  left: 17px;
  font-family: M PLUS Code Latin;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v38_75 {
  width: 157px;
  height: 117px;
  background: url("../images/v38_75.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 695px;
  left: 69px;
  overflow: hidden;
}
.v38_76 {
  width: 329px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 791px;
  left: 17px;
  font-family: M PLUS Code Latin;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v41_83 {
  width: 483px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 212px;
  left: 27px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
