* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v64_127 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v80_15415 {
  width: 100%;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 37px;
  left: 186px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 35px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v80_15428 {
  width: 233px;
  height: 244px;
  background: url("../images/v80_15428.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 445px;
  left: 604px;
  overflow: hidden;
}
.name {
  color: #fff;
}
