* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v64_45 {
  width: 100%;
  height: 1024px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v84_1097 {
  width: 100%;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 59px;
  left: 180px;
  font-family: Jura;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.v84_2177 {
  width: 100%;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 672px;
  left: 180px;
  font-family: Jura;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.v84_2180 {
  width: 544px;
  height: 534px;
  background: url("../images/v84_2180.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 261px;
  left: 448px;
  overflow: hidden;
}
.name {
  color: #fff;
}
