.d1_2 {
    overflow: hidden;
}

.e1_2 {
    background-color: rgba(85.0000025331974, 85.0000025331974, 136.00000709295273, 1);
    width: 1440px;
    height: 1024px;
    position: absolute;
}

.e1_5 {
    color: rgba(255, 255, 255, 1);
    width: 644px;
    height: 389px;
    position: absolute;
    left: 414px;
    top: 0px;
    font-family: Inter;
    text-align: center;
}

.e4_7 {
    background-color: rgba(136.00000709295273, 136.00000709295273, 136.00000709295273, 0.75);
    width: 349px;
    height: 96px;
    position: absolute;
    left: 74px;
    top: 764px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.ei4_7_4_3 {
    color: rgba(0, 0, 0, 1);
    width: 349px;
    height: 81px;
    position: absolute;
    left: 0px;
    top: 0px;
    font-family: Inter;
    text-align: center;
    font-size: 80px;
    letter-spacing: 0;
}

.e4_9 {
    width: 441px;
    height: 96px;
    position: absolute;
    left: 549px;
    top: 764px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.ei4_9_4_3 {
    color: rgba(34.00000177323818, 34.00000177323818, 170.0000050663948, 1);
    width: 441px;
    height: 120px;
    position: absolute;
    left: 0px;
    top: 0px;
    font-family: Inter;
    text-align: center;
    font-size: 20px;
    letter-spacing: 0;
}

.e4_11 {
    background-color: rgba(136.00000709295273, 136.00000709295273, 136.00000709295273, 0.75);
    width: 349px;
    height: 96px;
    position: absolute;
    left: 1078px;
    top: 62px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.ei4_11_4_3 {
    color: rgba(0, 0, 0, 1);
    width: 349px;
    height: 81px;
    position: absolute;
    left: 0px;
    top: 0px;
    font-family: Inter;
    text-align: center;
    font-size: 80px;
    letter-spacing: 0;
}

.e22_35 {
    color: rgba(255, 255, 255, 1);
    width: 355px;
    height: 207px;
    position: absolute;
    left: 576px;
    top: 548px;
    font-family: Inter;
    text-align: center;
    font-size: 30px;
    letter-spacing: 0;
}

.e22_36 {
    color: rgba(255, 255, 255, 1);
    width: 329px;
    height: 134px;
    position: absolute;
    left: 77px;
    top: 917px;
    font-family: Inter;
    text-align: center;
    font-size: 20px;
    letter-spacing: 0;
}

.e22_39 {
    color: rgba(255, 255, 255, 1);
    width: 457px;
    height: 121px;
    position: absolute;
    left: 518px;
    top: 917px;
    font-family: Inter;
    text-align: center;
    font-size: 20px;
    letter-spacing: 0;
}

.e22_40 {
    color: rgba(255, 255, 255, 1);
    width: 364px;
    height: 158px;
    position: absolute;
    left: 1024px;
    top: 917px;
    font-family: Inter;
    text-align: center;
    font-size: 20px;
    letter-spacing: 0;
}

.e23_41 {
    color: rgba(255, 255, 255, 1);
    width: 248px;
    height: 72px;
    position: absolute;
    left: 1113px;
    top: 196px;
    font-family: Inter;
    text-align: center;
    font-size: 30px;
    letter-spacing: 0;
}

.e23_42 {
    background-color: rgba(85.0000025331974, 85.0000025331974, 136.00000709295273, 1);
    width: 365px;
    height: 336px;
    position: absolute;
    left: 1067px;
    top: 31px;
}

.e27_49 {
    color: rgba(255, 255, 255, 1);
    width: 708px;
    height: 144px;
    position: absolute;
    left: 405px;
    top: 377px;
    font-family: Inter;
    text-align: center;
    font-size: 30px;
    letter-spacing: 0;
}

.e64_215 {
    width: 157px;
    height: 117px;
    position: absolute;
    left: 1127px;
    top: 748px;
}

.ei64_215_64_213 {
    width: 157px;
    height: 117px;
    position: absolute;
    left: 0px;
    top: 0px;
    background-image: url(images/image_2.png);
    background-repeat: no-repeat;
    background-size: cover;
}