* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v57_24 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v57_26 {
  width: 221px;
  height: 195px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 931px;
  left: 1342px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
.v57_25 {
  width: 100%;
  height: 100%;
  background: rgba(153,153,153,1);
  opacity: 1;
  position: absolute;
  top: 104px;
  left: 110px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
.v67_26 {
  width: 863px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 36px;
  left: 288px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 80px;
  opacity: 1;
  text-align: center;
}
.v67_27 {
  width: 333px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 512px;
  left: 193px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 35px;
  opacity: 1;
  text-align: center;
}
.v67_28 {
  width: 333px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 512px;
  left: 908px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 35px;
  opacity: 1;
  text-align: center;
}
.v67_29 {
  width: 282px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 829px;
  left: 225px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 35px;
  opacity: 1;
  text-align: center;
}
.v67_30 {
  width: 281px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 829px;
  left: 932px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 35px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
