.navbar {
    padding: 10px;
    background-color: #800000;
}

.navbar-brand {
    color: #FFFFFF;
    font-size: 20px;
}

.intro {
    text-align: center;
    font-size: 40px;
    margin: 100px;
}

.page-container {
    margin-top: 75px;
}

.path-button {
    background-color: #800000;
    padding: 5px;
    color: white;
    border-radius: 5px;
    margin: 15px 1em 20px 450px;
}


@media (max-width: 576px) {
    .navbar-brand {
        font-size: 15px;
    }

    .intro {
        font-size: 20px;
    }


    #exPathButton {
        font-size: 20px;
        margin-left: 200px;
    }
}

/* @media (max-width: 992px) {
    
} */