* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v64_51 {
  width: 100%;
  height: 1024px;
  background: rgba(221,221,221,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v84_913 {
  width: 741px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 59px;
  left: 349px;
  font-family: Inter;
  font-weight: Regular;
  opacity: 1;
  text-align: center;
}
.v84_914 {
  width: 861px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 264px;
  left: 304px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
