* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v64_49 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v84_127 {
  width: 230px;
  height: 237px;
  background: url("../images/v84_127.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 591px;
  left: 295px;
  overflow: hidden;
}
.v84_128 {
  width: 230px;
  height: 237px;
  background: url("../images/v84_128.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 571px;
  left: 915px;
  overflow: hidden;
}
.v84_131 {
  width: 589px;
  height: 344px;
  background: url("../images/v84_131.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 495px;
  left: 425px;
  overflow: hidden;
}
.v84_132 {
  width: 589px;
  height: 344px;
  background: url("../images/v84_132.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v84_136 {
  width: 514px;
  height: 291px;
  background: url("../images/v84_136.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 38px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v84_140 {
  width: 418px;
  height: 244px;
  background: url("../images/v84_140.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 58px;
  left: 82px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v84_124 {
  width: 147px;
  height: 147px;
  background: url("../images/v84_124.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 542px;
  left: 733px;
  overflow: hidden;
}
.v84_125 {
  width: 108px;
  height: 105px;
  background: url("../images/v84_125.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 571px;
  left: 604px;
  overflow: hidden;
}
.v84_150 {
  width: 100%;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 81px;
  left: 136px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v84_145 {
  width: 439px;
  height: 223px;
  background: url("../images/v84_145.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 325px;
  left: 506px;
  overflow: hidden;
}
