* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v84_2163 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v84_2170 {
  width: 144px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 637px;
  left: 701px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v84_2178 {
  width: 427px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 264px;
  left: 971px;
  font-family: Inter;
  font-weight: Regular;
  opacity: 1;
  text-align: center;
}
.v84_2179 {
  width: 273px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 264px;
  left: 44px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
